replicaCount: 2

image:
  repository: devops-akki
  tag: ea55651fb8a1641d61be76ccc3d9e5d81143d684
  imagePullPolicy: Always

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
