replicaCount: 2

image:
  repository: devops-akki
  tag: 27f7ac07a25f608af39f5b9fd51fcc5a8a736440
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
