replicaCount: 2

image:
  repository: devops-akki
  tag: 1a6c203dec056519292ca1005004453ad87f0aed
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
