replicaCount: 3

image:
  repository: ajs3ra8/devops-akki
  tag: ddb1d09709170a2fb38481d16024b2d9a75a1aff
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

env:
  APP_VERSION: "v1"
  ENV: "local"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
