replicaCount: 3

image:
  repository: ajs3ra8/devops-akki
  tag: 4dc61a61fc8cdb5a36a9cfa95b5825a0e3aeea55
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

env:
  APP_VERSION: "v1"
  ENV: "local"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
