replicaCount: 2

image:
  repository: devops-akki
  tag: 88ee05448e634b6a818aecb273f43bf865286fb3
  imagePullPolicy: Always

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
