replicaCount: 2

image:
  repository: devops-akki
  tag: c8f70f9a98f30d3c19e2db1e431e3de0234766a3
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
