replicaCount: 2

image:
  repository: devops-akki
  tag: 0ccfa20547cad77fb76af4cd3b0259b14947e52a
  imagePullPolicy: Always

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
