replicaCount: 2

image:
  repository: devops-akki
  tag: latest
  imagePullPolicy: Always

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
