replicaCount: 3

image:
  repository: ajs3ra8/devops-akki
  tag: c059ad57ac87924fe322b1f50a30e129931c74f1
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

env:
  APP_VERSION: "v1"
  ENV: "local"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
