replicaCount: 2

image:
  repository: devops-akki
  tag: 380de44471e0ed697fc9b73ee6fa996dcaaf15c9
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
