replicaCount: 2

image:
  repository: devops-akki
  tag: f7aee95e910d5db116e4ee8101ec874390ed5b47
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
