replicaCount: 2

image:
  repository: devops-akki
  tag: dffcb2bb257151ff3129fce1ffebe72404d46da0
  imagePullPolicy: Always

service:
  type: LoadBalancer
  port: 80


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
